apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: movie-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/KastroVKiran/k8s-multi-app.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
